name: CD

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  pypi:
    runs-on: ubuntu-latest

    environment:
      name: pypi

    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Prepare artifacts
        run: |
          python -m pip install -U build
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
